<div class="container">
  <div class="row">
    <!-- Service Photo Slider -->
    <div class="col-lg-7 col-md-12">
      <div class="border border-light"> 
        <div class="h3 py-2 text-capitalize"><%= @service.title %></div>
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item" ><%= image_tag 'image1.jpg' %></div>
              <div class="owl-item" ><%= image_tag 'image2.jpg' %></div>
              <div class="owl-item" ><%= image_tag 'image3.jpg' %></div>
              <div class="owl-item" ><%= image_tag 'image1.jpg' %></div>
              <div class="owl-item" ><%= image_tag 'image2.jpg' %></div>
              <div class="owl-item" ><%= image_tag 'image3.jpg' %></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Package Comparison Table -->
      <div class="package-table">
        <table class="table table-bordered">         
          <thead>
            <tr class="table-secondary"><th scope="col" colspan="4" class="h3">Compare Packages</th></tr>
            <tr>
              <th class="table-secondary" scope="col"></th>
              <% @packages.each do |package| %>
              <th scope="col" class="text-center"><%= package.name %><br>$<%= package.price %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-secondary" scope="row">Description</th>
              <% @packages.each do |package| %>
              <td class="text-center"><%= package.description %></td>
              <% end %>
            </tr>
            <tr>
              <th class="table-secondary" scope="row">Commercial Use</th>
              <% @packages.each do |package| %>
              <td class="text-center"><%= package.is_commercial ? "Yes" : "No" %></td>
              <% end %>
            </tr>
            <tr>
              <th class="table-secondary" scope="row">Revision</th>
              <% @packages.each do |package| %>
              <td class="text-center"><%= package.revision_number %></td>
              <% end %>
            </tr>
            <tr>
              <th class="table-secondary" scope="row">Delivery Time</th>
              <% @packages.each do |package| %>
              <td class="text-center"><%= pluralize(package.delivery_time, 'Days') %></td>
              <% end %>
            </tr>
          </tbody>       
        </table>
      </div>   
    </div>
     
    <div class="col-lg-5 col-md-12">
      <%= render partial: 'shared/seller-profile' %>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="p-3 border border-light">
    <div class="py-3">
      <div class="review-header pt-3">
        <span class="h3">Reviews</span>
        <span id="all-stars-<%= @service.id %>" class="pl-2"></span>
        <span class="pl-2 yellow"><%= @service.buyer_review_star %></span>
        <span class="pl-2">(<%= pluralize(@service.buyer_review_count, "reivew") %>)</span>
        <div class="underline p-3"></div>
      </div>
    </div>
     
    <% @packages.each do |package| %>
      <% package.buyer_reviews.each do |buyer_review| %>
        <% package.seller_reviews.each do |seller_review| %>
          <div class="review-wrapper pt-5">
            <div class="container-fluid pb-5">
                <div class="d-flex justify-content-start buyer_review">
                  <div class="buyer_img pr-3">
                    <% if buyer_review.buyer.avatar_url %>
                      <%= image_tag buyer_review.buyer.avatar_url(:small), class: 'img-fluid rounded-circle' %>
                    <% else %>
                      <%= image_tag default_image_url, size: '50x50', class: 'img-fluid rounded-circle' %>
                    <% end %>
                  </div>
                  <div class="align-self-center">
                    <%= buyer_review.buyer.name %>
                    <span class="px-1 yellow"><%= image_tag 'star-on.png' %> <%= package.buyer_review_star %></span>      
                  </div>
                  <div class="align-self-center pl-5 buyer_msg">
                      <div><%= buyer_review.comment %></div><br>
                      <div class="text-muted"><%= time_ago_in_words(buyer_review.created_at) %></div>
                  </div>
                </div>
            </div>
            <div class="container-fluid pt-5">
                <div class="d-flex justify-content-end seller_review">
                  <div class="seller_img pr-3">
                    <% if seller_review.seller.avatar_url %>
                      <%= image_tag seller_review.seller.avatar_url(:small), class: 'img-fluid rounded-circle' %>
                    <% else %>
                      <%= image_tag default_image_url, size: '100x100', class: 'img-fluid rounded-circle' %>
                    <% end %>  
                  </div>
                  <div class="align-self-center">
                    <%= seller_review.seller.name %>
                    <span class="pl-1 yellow"><%= image_tag 'star-on.png' %> <%= package.seller_review_star.to_i %></span>    
                  </div>
                  <div class="align-self-center pl-5 seller_msg">
                      <div><%= seller_review.comment %></div><br>
                      <div class="text-muted"><%= time_ago_in_words(seller_review.created_at) %></div>
                  </div>
                </div>
            </div>
            <div class="underline py-2"></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>  


 



<script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:true
        },
        1000:{
            items:1,
            nav:true,
            loop:false
        }
    }
  });
</script>
