<div class="container">
  <%= simple_form_for @user, url: onboarding_path(@user.id), wrapper: :horizontal_form, 
  defaults: { input_html: { class: 'mt-3' },label_html: { class: 'mt-3' }}, 
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select} do |f|  %> 
    <%= f.error_notification %>
    <%= f.input :name, required: true %>
    <%= f.input :email, input_html: { autocomplete: 'email' }, required: true %>
    <%= f.input :avatar, as: :file %>
    <%= f.input :country, as: :country, required: true , prompt: true %>
    <%= f.input :language, collection: LanguageList::COMMON_LANGUAGES, required: true ,prompt: true %>
    <%= f.input :description ,required: true, hint: 'Minimum 150 words required', input_html: {rows: "5"} %>
  
    <div class="form-group row mb-0">
      <div class="col-sm-9 offset-sm-3">
        <%= f.button :submit, class: "btn-success" %>
        <%= f.button :button, "Cancel", type: "reset", class: "ml-3 btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>