<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, required: true, autofocus: true, placeholder: "Email", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, required: true, autocomplete: "off", placeholder: "Password", class: "form-control" %>
          </div>
          <div>
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %> Remember Me
            <% end %>
            <span class="pull-right">
              <%= link_to "Forgot Password", new_user_password_path %>
            </span>
          </div>
          <br/><br/>
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-info btn-block" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to "Sign in with Github", '#', class: "btn btn-secondary btn-block" %>
      </div>
    </div>
  </div>
</div>