<nav class="navbar navbar-expand-sm navbar-light sticky-top p-3">
  <div class="container-fluid px-5">
    <%= link_to image_tag('fiverr-vector-logo-small.png', height: 120, width: 120), root_path, class: "navbar-brand pr-5" %>
    <div class="mr-auto">
      <%= form_tag services_path, method: :get do %>
        <%= text_field_tag :search %>
        <%= submit_tag "Search", class: 'btn btn-success' %>
      <% end %>
    </div> 
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Collect the nav links, forms, and other content for toggling -->  
      <ul class="navbar-nav ml-auto">
        <!-- Other Nav Tags -->
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'Become a Seller', new_onboarding_path, class: "nav-link"%></li>
          <% if current_user.seller? %>
            <li class="nav-item"><%= link_to 'Profile', profile_path(current_user), class: "nav-link" %></li>
          <% end %>
          <li class="nav-item"><%= link_to'Chat Room', '#', class: "nav-link" %></li>
          <li class="nav-item"><%= link_to'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Become a Seller', new_onboarding_path, class: "nav-link",'data-toggle' =>"modal", 'data-target' => "#loginModal" %></li>
          <li class="nav-item"><%= link_to'Join', new_user_registration_path, class: "nav-link",'data-toggle' =>"modal", 'data-target' => "#signupModal" %></li>
          <li class="nav-item"><%= link_to'Sign In', new_user_session_path, class: "nav-link", 'data-toggle' =>"modal", 'data-target' => "#loginModal" %></li>
        <% end %>
      </ul>  
    </div> 
  </div>
</nav>
